@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    font-size: 15px;
    min-height: 50%;
    background-image: linear-gradient(
        to right, transparent 0 49px, #eee1 49px
    ),
    linear-gradient(
        to bottom, transparent 0 49px, #eee1 49px
    );
    background-size: 50px 50px;
    &::before{
        position: absolute;
        width: 100%;
        height: 50px;
        content: '';
        background: rgb(2,12,25);
background: linear-gradient(0deg, rgba(2,12,25,0.1825980392156863) 0%, rgba(2,12,25,1) 71%);
    }
}
@media (min-width:1080px) {
    .main{
        height: 300px;
    }
    .b1{
        animation: margin 4s ease-in-out infinite alternate-reverse;
        margin-left: -40px;
    }
    .b2{
        animation: margin2 4s ease-in-out infinite alternate-reverse;
        margin-left: -40px;
    }
    @keyframes margin {
     0%{
        margin-top: 0;
     }
     100%{
        margin-top: 40px;
     }
    }
    @keyframes margin2 {
        0%{
            margin-top: 40px;
        }
        100%{
            margin-top: 0;
        }
       }
}
.play{
background: rgba(0, 0, 0, 0.31);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);

}
